@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Montserrat:wght@300;600&display=swap');

            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            #h1{
                font-family: dancing script;
                font-size: 76px;
            }

            #h2{
                font-size: 25px;
                margin-top: 35px; 
                font-weight: 900;
                font-family: montserrat;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                animation: typing 3s ease-in-out infinite;
                           cursor: .4s infinite alternate;

            }

            @keyframes h2{
                50%{
                    border-right-color: transparent;
                }
            }
            @keyframes typing{
                from{
                    width: 0;
                }
            }

            .face,.min{
               stroke: #fff;
               stroke-width: 10px;
               stroke-dashoffset: 0;
               stroke-dasharray: 2000;
            }

            .min{
                animation: min 6s ease-in-out infinite;
            }

            @keyframes min{
                0%{
                    stroke-dashoffset: 2000;
                }
                100%{
                    stroke-dashoffset: 0;
                }
            }

            .face{
                animation: face 12s ease-in-out infinite;
            }

            @keyframes face{
                0%{
                    stroke-dashoffset: 2000;
                }
                50%{
                    stroke-dashoffset: 2000;
                }
                100%{
                    stroke-dashoffset: 0;
                }
            }